@import "../../../../assets/styles/vars.scss";
@import "../../../../assets/styles/mixins.scss";

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  background: $blackish;
  z-index: 1;
  padding: 1rem;
  @include box-shadow(0px, 7px, 29px, rgba(100, 100, 111, 0.2));
  div.logo img {
    height: 50px;
    width: auto;
  }
}
